# Virtual environments
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE / Editor folders
.vscode/
.idea/

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Log files
*.log
